<%- include ../templates/adminlte/header-top-nav.ejs %>
<!-- Full Width Column -->
<div class="content-wrapper">
  <div class="container">
    <br>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tambah Data Siswa
        <small>Create Data Siswa</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/siswa"></i> Data Siswa</a></li>
        <li class="active"> Tambah</li>
      </ol>
    </section>

    <section class="content">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Tambah Data Siswa</h3>
        </div>
        <div class="box-body">
          <form action="/siswa/create" method="post">
            <div class="form-group">
              <label for="nama"> Nama :</label>
              <input type="text" value="<%= data.nama %>" class="form-control" name="nama" id="nama" required />
            </div>
            <div class="form-group">
              <label for="gender"> Jenis Kelamin :</label>
              <select value="<%= data.gender %>" name="gender" class="form-control" required>
                <option value="">--- Pilih Jenis Kelamin ---</option>
                <option value="Pria">Pria</option>
                <option value="Wanita">Wanita</option>
              </select>
            </div>
            <div class="form-group">
              <label for="no_telp"> No. Telpon :</label>
              <input type="number" value="<%= data.no_telp %>" class="form-control" name="no_telp" id="no_telp"
                required />
            </div>
            <div class="form-group">
              <label for="alamat"> Alamat :</label>
              <input type="text" value="<%= data.alamat %>" class="form-control" name="alamat" id="alamat" required />
            </div>
            <button type="submit" class="btn btn-primary">Tambah</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<%- include ../templates/adminlte/footer.ejs %>